<h1>Modifier les photos existantes</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for @transport do |f| %>
        <%= f.input :brand, placeholder: "Write the type of transport" %>
        <%= f.input :horse, placeholder: "Which power" %>
        <%= f.input :year, placeholder: "Year" %>
        <%= f.input :price, placeholder: "Price per day" %>
        <%# <%= f.input :photos, as: :file, input_html: { multiple: true }, :label => @transport.photos[0].key %>
        <%= f.submit "Submit list", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
