<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dojiqdbe4/image/upload/v1677600746/diable1_wubyti.png);">
  <div class="container">
    <h1>KEKE Transports <strong>moving you around</strong> with <strong>exotic style!</strong>!</h1>
    <p>Make your journey unforgettable!!!!</p>
    <a class="btn btn-gradient" href="#">Book now</a>
  </div>
</div>

<h1>Keke Transports</h1>

<%= link_to 'SE CONNECTER', new_user_session_path, class: 'linkco' %>
<%= link_to "SINSCRIRE",  new_user_registration_path, class: 'linkco' %>
<%= link_to "SE DECONNECTER", destroy_user_session_path, data: {turbo_method: :delete}, class: 'linkco' %>

<ul>
  <% @transports.each do |transport| %>
  <li><%= link_to transport.brand, transport_path(transport.id) %>
  <%= transport.year %> - <%= transport.price %>
  <% end %>
</ul>


