<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
    <p><span class='text-align-center' data-controller="typed-js"></span></p>
  </div>
</div>

<div class='searchbar my-3'>
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "input",
      placeholder: "Find a turbo transport" %>
    <% end %>
</div>

<div class="container">
  <div class="cards-container">
    <% @transports.each do |transport| %>
      <div class="card">

        <% if transport.photos.attached? %>
          <% transport.photos.each do |photo| %>
              <%= cl_image_tag photo.key %>
          <% end %>
        <% else %>
        <%= 'No Image' %>
        <% end %>
        <div class="card-details">
          <h1><%= transport.brand %></h1>
          <p>Year : <%= transport.year %></p>
          <h2>Prix : <%= transport.price %> $</h2>
          <%= link_to 'Details', transport_path(transport.id), class: 'shadow__btn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
