<h1>Transport - <%= @transport.brand %></h1>
<div class="container d-flex">
    <div class="card-product">
      <div class="card-image">
        <% if @transport.photos.attached? %>
          <% @transport.photos.each do |photo| %>
            <%= cl_image_tag photo.key, crop: :fill %>
          <% end %>
        <% else %>
          <%= 'No picture Available' %>
        <% end %>
      </div>
      <div class="card-product-infos">
          <p> Brand : <%= @transport.brand %></p>
          <p> Power : <%= @transport.horse %></p>
          <p> Year : <%= @transport.year %></p>
          <p> Price per day : <%= @transport.price %> $</p>
      </div>
    </div>
</div>
<div class="containers">
  <div class="btn-home"><%= link_to 'Back to transports', root_path %></div>
  <div class="btn-home"> <%= link_to "Delete", transport_path(@transport.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></div>
  <div class="btn-home"><%= link_to 'Book now', new_transport_booking_path(@transport.id) %></div>
</div>
