<!DOCTYPE html>
<html>
  <head>
    <title>KekeTuning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <link rel="icon"
     type="image/png"
     href="https://image.shutterstock.com/image-vector/blue-line-car-automotive-race-600w-1685727928.jpg">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "navbar" %>
    <%= yield %>
      <div class="fa-3x" >
        <img src="https://res.cloudinary.com/dojiqdbe4/image/upload/v1677600746/diable1_wubyti.png" class="fa-solid fa-shake" >
        <i class="fa-solid fa-bell fa-shake"></i>
        <i class="fa-solid fa-lock fa-shake"></i>
      </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
